.searchBanner__container{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 30vh;
    border: 1px solid red;
    margin-left: 9rem;
}
.search__style{
    padding: 10px;
    border: 2px solid grey;
}