.navbar__container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    margin: 1.5rem 6rem  ;
}
ul{
    display: flex;
    gap: 30px;
}
.nav__link li{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav__link li a{
    text-decoration: none;
    color: #112211;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.nav__img{
    margin-right: 5px;
}
.nav__btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sign_up{
    padding:10px 17px;
     background-color:#112211; 
     color:white;
      text-transform: capitalize;
      border-radius:8px;
      font-weight:600;
      font-size:16px;
}
.sign_up:hover{
    background-color: white;
    color: black;
    transition: 0.4s ease-in;
}