.footer__container{
    background-color:#8DD3BB;
    display: flex;
    padding: 12rem 6rem 2rem;
    justify-content: space-between;
}
.follow__section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.media__icons{
    font-size: 20px;
    margin-right: 10px;
}
.quicklinks__section{
        display: grid;
        grid-template-columns:  repeat(5,1fr);
        gap: 2.5rem;
}
.links{
        display: flex;
        flex-direction: column;
        gap: 8px;
}
.links li{
    list-style: none;
    font-size: 14px;
    color: #112211;
    font-weight: 500;
    opacity: 75%;
}
.links h5{
    text-transform: capitalize;
    font-size: 18px;
    color: #112211;
}
